<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kwe.kweplus.dao.JintieBaseOutputFieldMapper">
  <select id="getFieldByCustomKey" resultType="com.kwe.kweplus.modal.JintieBaseOutputField">
        select * from jintie_base_output_field
    </select>
</mapper>
