<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kwe.kweplus.dao.JintieOutputHeadMapper">
    <update id="saveOutputUpdate">
        update jintie_output_head set SOREFERENCE1 = #{customNo} where wl_ywno = #{ywNo}
    </update>
    <select id="selectByYwID" resultType="com.kwe.kweplus.modal.JintieOutputHead">
        select * from jintie_output_head where wl_ywno = #{ywNo}
    </select>
    <delete id="deleteByYwNo">
        delete from   jintie_output_head where wl_ywno = #{ywNo}
    </delete>
</mapper>
